* {
    margin: 0;
    font-family: "Nunito", sans-serif;
}
html,
body {
    height: 100vh;
}
:root {
    --main-color: #1f3c4d;
    --title-color: #0d1e2b;
    --text-color: #45637d;
    --light-text-color: #afafb8;
    --border-color: #a0a7ac;
    --container-color: WHITE;
    --body-color: #fafbfb;
}

body {
    background: var(--body-color);
    color: var(--text-color);
}

/* CRUD Actions colors
  create  ->   green: #0A8B5E
  read    ->   light-blue: #08A6C1
  update  ->   yellow: #FF9C26
  delete  ->   red: #DE3C14
*/
